$introduction_width: 3.5%;
$ludovico_width: 4.2553%;
$border_color:transparent;
$letter_color: black;
$letter_color_active: white;
$letter_shadow: none;
$bases_width:40;
$bases_margin:4;
/*$base_width : 5.26%; ($introduction_width*$bases_width - $introduction_width*3*$bases_margin)/16;*/
$base_width : 4%;

.grid{  position:relative; display: inline-block; margin-left: auto; margin-right: auto; margin-bottom: 4vw; }
#introduction.grid{  width: $introduction_width*25;}
#ludovico.grid{ width: $ludovico_width*23.5; }


#bases{ width: $base_width*25; margin-top:4vh; margin-bottom: 4vh; display: none;}


.great_container{ position:relative; display:inline-block; width: $ludovico_width*23.5; margin-left: (100-$ludovico_width*23.5)/2; }


.letter{  float:left; position:relative;  height: 100%; }
.letter:last-child{ margin-right: 0 !important; }
.square{ transition: all 0.2s linear ; box-sizing:border-box; overflow:hidden; box-shadow: $letter_shadow;  position:absolute; background-color: $letter_color; border-top:1px solid $border_color; border-right: 1px solid $border_color; }
.square{
	&.wleft{ border-left: 1px solid $border_color; }
	&.curved, &.triangled{ border:0; border-top:1px solid $border_color; background-color: transparent !important; box-shadow: none; }
	&.curved.htop, &.curved.hmiddletop{ border-top:0; }
	&.curved::after, &.triangled::after{ content: ""; background-color: $letter_color; box-shadow: $letter_shadow; display: inline-block; position: relative; border: 1px solid $border_color; box-sizing: border-box; }
	&.curved.wright.htop{ border-bottom: 1px solid $border_color; }

	&.curved.wright:not(.reverse), &.curved.wmiddle.hmiddlebottom, &.curved.wmiddle.hbottom,  &.curved.wmiddle.hmiddletop, &.triangled.wright{ border-left: 1px solid $border_color; }
	&.curved.wright.reverse { border-left: 1px solid transparent ; }
	&.hbottom.wleft.curved, &.hmiddletop.wleft.curved:not(.reverse), &.hmiddletop.wleft.curved:not(.reverse){ border-right: 1px solid $letter_color; }
	&.hbottom.wleft.curved, &.hmiddlebottom.wmiddle.curved, &.hbottom.wright.curved, &.hbottom.wmiddle.curved, &.hbottom.wright.triangled, &.hbottom.wleft.triangled{ border-top:1px solid $letter_color; }
	&.hmiddlebottom.wmiddle.curved, &.hbottom.wright.curved, , &.htop.wright.curved:not(.reverse), &.hmiddletop.wright.curved:not(.reverse), &.hmiddletop.wmiddle.curved, &.hbottom.wmiddle.curved, &.hbottom.wright.triangled, &.curved.wleft.reverse.hmiddletop{ border-left:1px solid $letter_color; }
	&.htop.wright.curved{ border-bottom:1px solid $letter_color; }
	&.triangled::after{ border-radius: 0; transform: rotate(45deg); }
	&.curved::after{ border-radius: 50%; }
	

	}

	.letter.one-spaced .square{ width: 100%;  }
	.letter.two-spaced .square{ width: 50%;  }
	.letter.three-spaced .square{ width: 33.333%; }
	.letter.two-spaced .square.wmiddle{ left: 50%; }
	.letter.three-spaced .square.wmiddle{ left: 33.333%; }
	.square.wright{ left: 66.666%; }
	.square.htop{ top: 0; }
	.square.wleft, #comma .square.wright{left: 0;}

	.square.curved::after, .square.triangled::after{  position:absolute; top:0; width: 200%; padding-bottom: 200%; }
	.square.hbottom.wleft.curved::after{ left: 0;  top: -100%; position: absolute;   }
	.square.hbottom.wright.curved::after , .square.hbottom.wmiddle.curved::after, .square.hmiddlebottom.wmiddle.curved::after{ left: -100%; top: -100%; position: absolute; }
	.square.htop.wright.curved::after, .square.hmiddletop.wmiddle.curved::after, .square.hmiddletop.wright.curved:not(.reverse)::after, .square.hmiddletop.wleft.reverse.curved::after{ top:0; left: -100%; position: absolute; }
		.square.wleft.triangled::after{ left: 41.4213562%; top: -100%; position: absolute; }
		.square.wright.triangled::after{ top: -100%; left: -141.4213562%; position: absolute; }


#infogame, #info_window{ display:none; }
body.gameplay {
	background-color: black; position: fixed; overflow: hidden;
	#bases, #starship{ display: inline-block; }
	#play{ display: none; }
	.hostile_laser, .my_laser{ display: block; }
	.square.hmiddletop.wright.curved.reverse{ border-left-color: black !important; }
	.square, .square.curved::after, .square.triangled::after{ background-color: $letter_color_active; }
	.square{ border-color:$letter_color_active !important; }

	.base .square.triangled::after, .base .square{ background-color:#1dd1a1; }

	#logo h1{ display: none; }
	#logo{ cursor:pointer; border-color: white; left:90%;  }
 	#logo::after{ content: "X"; color: WHITE; font-weight: 500; font-family: 'Quicksand', sans-serif; display: block; padding-top:1%; text-align: center; vertical-align: middle; }
 	#infogame{ display: inline-block;
position: relative;
right: 0;
background: white;
width: 30px;
height: 30px;
color: black;
border: 2px solid white;
cursor: pointer;
float: left;
text-align: center;
border-radius: 50%;
padding-top: 1px;
box-sizing: border-box;
font-size: 17px;
font-weight: bold;}

#infogame:hover{
	color:white; background:black;
}


#info_window{
	position: fixed;
width: 40%;
z-index: 999999;
left: 30%;
background: white;
color: black;
padding: 40px;
box-sizing: border-box;
box-shadow: 2px 3px 2px #333;
font-size: 33px;
}

#info_window i.fa-times{
	position: absolute;
right: 10px;
top: 10px;
cursor: pointer;
font-size: 40px;
}

#info_window::after{
content:"";
position:fixed;
z-index:-1;
background:rgba(0,0,0,0.4);
width:100%;
left:0;
top:0;
height:100%;
}
	

}
#introduction{ 
	.letter{ margin-right: $introduction_width/2; padding-top: $introduction_width*4;}
	.letter.one-spaced{ width: $introduction_width; }
	.letter.two-spaced{ width: $introduction_width*2; }
	.letter.three-spaced{ width: $introduction_width*3; }
	
	.letter .square{ height: 25%; top:0;}
	.letter .square.hmiddletop{ height: 26%; }

	.square.hmiddletop{ top: 25%; }
	.square.hmiddlebottom{ top: 50%; }
	.square.hbottom{ top:  75%; }

}


		





#ludovico {
		.letter{ margin-right: $ludovico_width/2; padding-top: $ludovico_width*3;  }
		.letter.one-spaced{ width: $ludovico_width; }
		.letter.two-spaced{ width: $ludovico_width*2; }
		.letter.three-spaced{ width: $ludovico_width*3; }
		
		.letter .square{ height: 33.333%; top:0;}

	.square.hmiddle{ top: 33.333%; }
	.square.hbottom{ top:  66.666%; }
		
		
}





.base{  float: left; position:relative; width: 4*$base_width; padding-top: 16%; margin-right: 3*$base_width; }
.base{

	.square{  border:0 !important; background-color: green;  width: 25%; height:25%; }
	.square{
		&.wleft{ left: 0; }
		&.wmiddleleft{ left: 25%; }
		&.wmiddleright{ left: 50%; }
		&.wright{ left: 75%; }
		&.htop{ top:0; }
		&.hmiddle{ top: 25%; }
		&.hbottom{ top: 50%; }

		&.triangled{ background-color: transparent; }
		&.triangled::after, &.triangled::after{ display: block; position: relative; content: ""; top:0; transform: rotate(-45deg); background-color: green; width: 200%; height: 200%;  }
		&.wmiddleleft.hmiddle::after{ top: -100*1.414213562%;  left: -100%; }
		&.wmiddleright.hmiddle::after{ top: -100%;  left: 0.414213562*100%; }
		&.wright.htop::after{ left: -100*1.414213562%; }
		&.wleft.htop::after{ left: 0.414213562*100%; }

	}
}

		#starship{   font-size: 3vw; color: white; width: 2*$introduction_width; height: 2*$introduction_width; position:relative; display: block; left: (100 - $introduction_width*2)/2; display: none; }
		#starship i{ transform: rotate(-90deg); position:relative; right:1.75vw; }


#play{     max-width: 220px;
width:60%;
    background-color: #3498db;


    font-family: 'Quicksand', sans-serif;

    color: #e9edef;
    display: block;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
padding: 0;
border:1px solid #3498db;
height: 14vw;
height: 55px; margin-top:40px; transition:0.4s all ease-in-out; }
#play:hover{ color:#3498db; background-color:transparent; } 

		.base:last-child{ margin-right: 0; }
		.hostile_laser, .my_laser{ display:none; z-index:9; width: 8px; height: 8px; background-color: white; position: fixed; }
		.my_laser{  background-color: white; 
		margin-top:-20px;}


		#commands{ width:100%; display:none; position:absolute; bottom:0; left:0; }
		#commands .fas{ font-size:40px; color:white; float:left; margin-right:40px;}
		#red_button{ float:right; width:40px; height:40px; background:red; border-radius:50%; }


@media only screen and (max-width:992px){
	
	body.gameplay #commands{ display:inline-block; }
	.hostile_laser, .my_laser{ width:5px; height:5px; }
	#starship i{ right:18px;}
	#starship{ font-size:35px; }
}