		*{ margin:0; padding: 0; }
		body{ width: 100%; position: absolute; height: 100%; top: 0; left:  0; background-color: #e9edef; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear ; }
		section{ width:100%; top: 0; position: relative; box-sizing:border-box;  display: block; left: 0; }
		.nopad{ padding-left:0; padding-right: 0; }
		#header{ z-index:2; position:relative; width: 100%;  margin-top: 10px; margin-bottom: 30px; height: 3.5vw; }
		#header .container{ position: relative; }
		#header nav{ display:table;  float: right; height: 3.5vw; }
		#header nav a{ text-align:center; text-decoration:none;  color: black; font-family: 'Quicksand', sans-serif; font-weight: 500; font-size: 1vw; padding-left: 25px; display: table-cell; text-align: center; vertical-align: middle; }
		#header nav a span{ padding:3px; -webkit-transition: 0.5s all ease-in-out; -moz-transition: 0.5s all ease-in-out; -o-transition: 0.5s all ease-in-out; transition: 0.5s all ease-in-out; }
		#header nav a:hover span{ background-color: black; color: white;  }
		h1{ font-family: sans-serif; font-weight: 400; }
		#logo{ left:15px; position: absolute; float:left; width: 3.5vw; height: 3.5vw; -webkit-transition: 0.2s all ease-in-out; -moz-transition: 0.2s all ease-in-out; -o-transition: 0.2s all ease-in-out; transition: 0.2s all ease-in-out; border: 3px solid black;  text-align: center;  }
		#logo:hover{ color: white; background-color: black; }
		#logo h1{  display:table;   margin:0; width:100%; height:100%; color: black; text-align: center;  -webkit-transition: 0.2s all ease-in-out; -moz-transition: 0.2s all ease-in-out; -o-transition: 0.2s all ease-in-out; transition: 0.2s all ease-in-out; }
		#logo h1 a{ vertical-align: middle; display: table-cell;  color: black; text-decoration: none; -webkit-transition: 0.8s all ease-in-out; -moz-transition: 0.8s all ease-in-out; -o-transition: 0.8s all ease-in-out; transition: 0.8s all ease-in-out; }
		body.gameplay #logo::after, #logo h1 a{ font-size:2vw; padding-top: 4px; }
		#logo:hover h1 a{ color: white; }
		h2{ font-family: montserrat; color: black; font-weight: 900; font-size: 40px; text-shadow: 4px 3px 2px #bdc3c7;  }

		@media only screen and (max-width: 1200px) and (min-width: 992px){
			#logo{ width: 5vw; height: 5vw; }
			#header, #header nav{ height: 5vw; }
			#logo h1 a, body.gameplay #logo::after{ font-size: 3vw; }
			#header nav a { font-size: 20px; }
			body.gameplay #info_window{ width:60%; left: 20%; }
		} 

		@media only screen and (max-width: 991px) and (min-width: 650px){
			#logo{ width: 6vw; height: 6vw; }
			#header,#header nav{ height: 6vw; }
			#logo h1 a, body.gameplay #logo::after{ font-size: 3.8vw; }
			#header nav a { font-size: 18px; }
			body.gameplay #info_window{ width:70%; left: 15%;  font-size: 20px; }
		} 

		@media only screen and (max-width: 649px){
			#logo{ width: 11vw; height: 11vw; }
			#header,#header nav{ height: 11vw; }
			body.gameplay #logo{ left:85%; }
			body.gameplay #info_window{ width:90%; left: 5%; font-size: 18px; }
			#logo h1 a, body.gameplay #logo::after { font-size: 4.5vw; }
	 		#header nav a{ font-size: 4vw; }
		}