#space_invaders{ height: 100%; padding-top:95px;    }
		#skills .great_container{ margin-bottom: 20px;  }
		

#skills h3{
	color: #333;
	font-weight: 900;
	font-family: montserrat;
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	font-size: 15px;
}


 figure{ position: relative; text-align: center;  margin-bottom: 30px; float: left; margin-right: 5%; }
 figure.md-last{ margin-right: 0; }
  figure svg{ position: absolute; z-index: 0; left: 0; top: 0; }
  figure canvas{ position: absolute; top: 0; left: 0; transform: rotate(-90deg); }
  canvas.full{ z-index: 1;}
  circle{ fill: transparent; stroke: #ddd;  }

  figure p{ color: black;
position: relative;
width: 100%;
text-align: center;
z-index: 9;
padding-top: 55px;
font-family: Montserrat;
font-weight: 900; }
  figure img{ text-align: center;

position: relative;

top: 4.5%;

display: block;

margin-left: auto;

margin-right: auto;

width: 95px; }
