.grid {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vw; }

#introduction.grid {
  width: 87.5%; }

#ludovico.grid {
  width: 99.99955%; }

.great_container {
  position: relative;
  display: inline-block;
  width: 99.99955%;
  margin-left: 0.00023%; }

.letter {
  float: left;
  position: relative;
  height: 100%; }

.letter:last-child {
  margin-right: 0 !important; }

.square {
  transition: all 0.2s linear;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: none;
  position: absolute;
  background-color: black;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent; }

.square.wleft {
  border-left: 1px solid transparent; }

.square.curved, .square.triangled {
  border: 0;
  border-top: 1px solid transparent;
  background-color: transparent !important;
  box-shadow: none; }

.square.curved.htop, .square.curved.hmiddletop {
  border-top: 0; }

.square.curved::after, .square.triangled::after {
  content: "";
  background-color: black;
  box-shadow: none;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  box-sizing: border-box; }

.square.curved.wright.htop {
  border-bottom: 1px solid transparent; }

.square.curved.wright:not(.reverse), .square.curved.wmiddle.hmiddlebottom, .square.curved.wmiddle.hbottom, .square.curved.wmiddle.hmiddletop, .square.triangled.wright {
  border-left: 1px solid transparent; }

.square.curved.wright.reverse {
  border-left: 1px solid transparent; }

.square.hbottom.wleft.curved, .square.hmiddletop.wleft.curved:not(.reverse), .square.hmiddletop.wleft.curved:not(.reverse) {
  border-right: 1px solid black; }

.square.hbottom.wleft.curved, .square.hmiddlebottom.wmiddle.curved, .square.hbottom.wright.curved, .square.hbottom.wmiddle.curved, .square.hbottom.wright.triangled, .square.hbottom.wleft.triangled {
  border-top: 1px solid black; }

.square.hmiddlebottom.wmiddle.curved, .square.hbottom.wright.curved, .square.htop.wright.curved:not(.reverse), .square.hmiddletop.wright.curved:not(.reverse), .square.hmiddletop.wmiddle.curved, .square.hbottom.wmiddle.curved, .square.hbottom.wright.triangled, .square.curved.wleft.reverse.hmiddletop {
  border-left: 1px solid black; }

.square.htop.wright.curved {
  border-bottom: 1px solid black; }

.square.triangled::after {
  border-radius: 0;
  transform: rotate(45deg); }

.square.curved::after {
  border-radius: 50%; }

.letter.one-spaced .square {
  width: 100%; }

.letter.two-spaced .square {
  width: 50%; }

.letter.three-spaced .square {
  width: 33.333%; }

.letter.two-spaced .square.wmiddle {
  left: 50%; }

.letter.three-spaced .square.wmiddle {
  left: 33.333%; }

.square.wright {
  left: 66.666%; }

.square.htop {
  top: 0; }

.square.wleft, #comma .square.wright {
  left: 0; }

.square.curved::after, .square.triangled::after {
  position: absolute;
  top: 0;
  width: 200%;
  padding-bottom: 200%; }

.square.hbottom.wleft.curved::after {
  left: 0;
  top: -100%;
  position: absolute; }

.square.hbottom.wright.curved::after, .square.hbottom.wmiddle.curved::after, .square.hmiddlebottom.wmiddle.curved::after {
  left: -100%;
  top: -100%;
  position: absolute; }

.square.htop.wright.curved::after, .square.hmiddletop.wmiddle.curved::after, .square.hmiddletop.wright.curved:not(.reverse)::after, .square.hmiddletop.wleft.reverse.curved::after {
  top: 0;
  left: -100%;
  position: absolute; }

.square.wleft.triangled::after {
  left: 41.4213562%;
  top: -100%;
  position: absolute; }

.square.wright.triangled::after {
  top: -100%;
  left: -141.4213562%;
  position: absolute; }

body.gameplay {
  background-color: black;
  position: fixed;
  overflow: hidden; }
  body.gameplay #bases, body.gameplay #starship {
    display: block; }
  body.gameplay #play {
    display: none; }
  body.gameplay .hostile_laser, body.gameplay .my_laser {
    display: block; }
  body.gameplay .square.hmiddletop.wright.curved.reverse {
    border-left-color: black !important; }
  body.gameplay .square, body.gameplay .square.curved::after, body.gameplay .square.triangled::after {
    background-color: white; }
  body.gameplay .square {
    border-color: white !important; }
  body.gameplay .base .square.triangled::after, body.gameplay .base .square {
    background-color: #1dd1a1; }
  body.gameplay #logo h1 {
    display: none; }
  body.gameplay #logo {
    cursor: pointer;
    border-color: white;
    left: 90%; }
  body.gameplay #logo::after {
    content: "X";
    color: WHITE;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    display: table-cell;
    font-size: 36px;
    text-align: center;
    vertical-align: middle; }

#introduction .letter {
  margin-right: 1.75%;
  padding-top: 14%; }

#introduction .letter.one-spaced {
  width: 3.5%; }

#introduction .letter.two-spaced {
  width: 7%; }

#introduction .letter.three-spaced {
  width: 10.5%; }

#introduction .letter .square {
  height: 25%;
  top: 0; }

#introduction .letter .square.hmiddletop {
  height: 26%; }

#introduction .square.hmiddletop {
  top: 25%; }

#introduction .square.hmiddlebottom {
  top: 50%; }

#introduction .square.hbottom {
  top: 75%; }

#ludovico .letter {
  margin-right: 2.12765%;
  padding-top: 12.7659%; }

#ludovico .letter.one-spaced {
  width: 4.2553%; }

#ludovico .letter.two-spaced {
  width: 8.5106%; }

#ludovico .letter.three-spaced {
  width: 12.7659%; }

#ludovico .letter .square {
  height: 33.333%;
  top: 0; }

#ludovico .square.hmiddle {
  top: 33.333%; }

#ludovico .square.hbottom {
  top: 66.666%; }

#bases {
  width: 140%;
  display: inline-block;
  margin-left: -20%;
  height: 9.1875%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: none; }

.base {
  float: left;
  position: relative;
  width: 24.5%;
  height: 9.1875%;
  margin-right: 14%; }

.base .square {
  border: 0 !important;
  background-color: green;
  width: 6.125%;
  height: 3.0625%; }

.base .square.wleft {
  left: 0; }

.base .square.wmiddleleft {
  left: 6.125%; }

.base .square.wmiddleright {
  left: 12.25%; }

.base .square.wright {
  left: 18.375%; }

.base .square.htop {
  top: 0; }

.base .square.hmiddle {
  top: 3.0625%; }

.base .square.hbottom {
  top: 6.125%; }

.base .square.triangled {
  background-color: transparent; }

.base .square.triangled::after, .base .square.triangled::after {
  display: block;
  position: relative;
  content: "";
  transform: rotate(-45deg);
  background-color: green;
  width: 12.25%;
  height: 12.25%; }

.base .square.wmiddleleft.hmiddle::after {
  top: -8.66206%;
  left: -6.125%; }

.base .square.wmiddleright.hmiddle::after {
  top: -6.125%;
  left: 2.53706%; }

.base .square.wright.htop::after {
  left: -8.66206%; }

.base .square.wleft.htop::after {
  left: 2.53706%; }

#starship {
  font-size: 3vw;
  color: white;
  width: 7%;
  height: 7%;
  position: absolute;
  display: block;
  left: 46.5%;
  display: none; }

#starship i {
  transform: rotate(-90deg); }

#play {
  width: 219px;
  background-color: #3498db;
  font-family: 'Quicksand', sans-serif;
  color: #e9edef;
  display: block;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  padding: 17px; }

.base:last-child {
  margin-right: 0; }

.hostile_laser, .my_laser {
  display: none;
  z-index: 9;
  width: 6px;
  height: 20px;
  background-color: blue;
  position: fixed; }

.my_laser {
  background-color: yellow; }
