
.skill-card {   
border-radius: var(--border-radius);
  margin: 0 0;
  box-sizing: border-box;
  text-align: center;
  width: calc(calc(var(--content-width) - calc(3 * var(--spacing-s)))/ 4);
  height: calc(calc(var(--content-width) - calc(3 * var(--spacing-s)))/ 4);

}

@media screen and (max-width: 768px) {
    .skill-card {
        width: calc((100vw - calc( 3 * var(--spacing-m))) / 2);
        height: calc((100vw - calc( 3 * var(--spacing-m))) / 2);
    }
  
}

body.dark .skill-card {
    border: 4px solid white;
}
body.light .skill-card {
    border: 4px solid black;
}

.skill-card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;


}

.skill-card-inner p {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
            font-size: 18px;


}

.skill-card-inner .balls {
    display: flex;
    letter-spacing: 4px;
    font-size: 12px;
    word-spacing: -8px;
}