

.App {
  text-align: center;
}




h1 {
 color: black;
  background-image: none;
  font-size: 50px;
  line-height: 50px;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

p {
  font-size: 21px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  line-height: 1.82;
}


.mt-large{
  margin-top: var(--spacing-l);
}

.mt-xlarge {
  margin-top: var(--spacing-xl);
}

.justify {
  text-align: justify;
}


.App-main {
  width: 100%;
  display: flex;
  margin-top: var(--spacing-xl);
  justify-content: center;
}

.App-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: var(--content-width);
  max-width: 100%;
  position: relative;
  padding-bottom: var(--spacing-xxl);
}


.row {
  display: flex;
  flex-direction: row;
      width: 100%;

}

.col-1 {
  flex: 1;
}
.col-2 {
  flex: 0.5;
  
}

.col-2:first-child {
  padding-right: var(--spacing-m);
}
.col-2:last-child {
  padding-left: var(--spacing-m);
}

hr {
  border: 0;
  height: 5px;
  background: var(--yellow);
  width: 50%;
  margin: var(--spacing-xxl) 0;
}



@media only screen and (max-width: 768px) {
  .App-content {
    width: calc(100% - var(--spacing-m)*2);
    padding: 0 var(--spacing-m);
  }
  
  .row {
    flex-direction: column;
    width: 100%;
  }
  
  .col-2 {
    flex: 1;
    padding: 0;
    margin-bottom: var(--spacing-m);
  }
  

  .col-2:first-child {
    margin-bottom: var(--spacing-m);
    padding-right: 0;
  }
  .col-2:last-child {
    margin-bottom: 0;
    padding-left: 0;
  }
}