body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --content-width: 730px;

  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 72px;

  --minigame-borderWidth: 4px;
  --minigame-width: calc(var(--content-width)/2);
  --minigame-card-height: calc(  calc(var(--minigame-width))/3);

  --border-radius: 4px;

  --yellow: #fac832;
}


* {
  text-rendering: optimizeLegibility;
    text-align: left;

}

body {
    color: black;
    background-color: white;
}



.square-one {
  background: #bfe9dc;
}

.square-two {
  background: var(--yellow);
}

.square-three {
  background: #f83735;
}

.square-four {
  background: #84b4f9;
}

.square-five {
  background: #39948e;
}

.square-six {
  background: #1231b5;

}

.square-seven {
  background: #B6174B;
}

.square-eight {
  background: #D6EDFF;
}